package ${package.Service};

import ${package.Entity}.${entity};
import ${superServiceClassPackage};
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import java.util.List;
import com.bracket.common.Bus.AbstractModel.PageUtils;
import com.bracket.common.Bus.ResponseJson;
/**
 //
 //                       .::::.
 //                     .::::::::.
 //                    :::::::::::
 //                 ..:::::::::::'
 //              '::::::::::::'
 //                .::::::::::
 //           '::::::::::::::..
 //                ..::::::::::::.
 //              ``::::::::::::::::
 //               ::::``:::::::::'        .:::.
 //              ::::'   ':::::'       .::::::::.
 //            .::::'      ::::     .:::::::'::::.
 //           .:::'       :::::  .:::::::::' ':::::.
 //          .::'        :::::.:::::::::'      ':::::.
 //         .::'         ::::::::::::::'         ``::::.
 //     ...:::           ::::::::::::'              ``::.
 //    ```` ':.          ':::::::::'                  ::::..
 //                       '.:::::'                    ':'````..
 * @description: $!{table.comment} 服务类
 * @author:  ${author}
 * @create: ${date}
 **/
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}>
#else
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {

    /**
    * 添加对象
    */
    void add${entity}(${entity}Query obj) throws Exception;
    /**
    * 编辑对象
    */
    void edit${entity}(${entity}Query obj) throws Exception;
    /**
    * 删除对象
    */
    void delete${entity}(${entity}Query obj) throws Exception;
    /**
    * 批量删除对象
    */
    void batchDelete${entity}(String[]ids) throws Exception;
    /**
    * 分页系统
    */
    PageUtils<List<${entity}>> select${entity}PageList( ${entity}Query queryObject) throws Exception;

    /**
     * 根据Id获取 单个对象
     *
     * @param id
     * @return
     */
    ${entity} select${entity}ById(String id) throws Exception;

    /**
     * 根据Ids获取多个对象
     *
     * @param
     */
    List<${entity}> selectBatch${entity}ByIds(List<String> idList) throws Exception;

    /**
     * 根据条件获取某个对象
     * @param queryObject
     * @return
     */
    ${entity} select${entity}One(QueryWrapper<${entity}> queryObject) throws Exception;

    /**
     * 根据自定义条件获取对象实体集合
     * @param queryObject
     * @return
     */
    List<${entity}> select${entity}List(QueryWrapper<${entity}> queryObject) throws Exception;

    }
#end